$color-primary: #2ea8b2;
$color-primary-50: #6dc2c9;
$color-primary-100: $color-primary;
$color-primary-200: #20767d;

$color-gray: #3c3c3b;
$color-gray-50: #706f6f;
$color-gray-100: $color-gray;
$color-gray-200: #1d1d1b;

$color-background: #fcfcfc;

$font-default: "Sen", Tahoma, sans-serif;

$color-red: #d33f49;
$color-purple: #5603ad;
$color-green: #3f6634;
$color-yellow: #ffbf00;
